<nav class="navbar">

  <div class="logo">
    ES
  </div>

  <div class="links">
    <a href="">Home</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
  </div>

</nav>

<div class="hero">

  <h1>Elisheva Shemesh</h1>

  <h2>Full Stack & AI Developer</h2>

  <p>
    I build modern web applications, AI systems,
    and smart solutions for businesses.
  </p>

  <a href="#projects" class="hero-btn">
    View Projects
  </a>

</div>

<section id="projects" class="projects">

  <h2>Projects</h2>

  <div class="cards">

    <div class="card">

      <h3>AI Business Assistant</h3>

      <p>
        Smart AI system for businesses.
      </p>

      <div class="buttons">

        <a
          href="https://github.com/elisheva-shemesh"
          target="_blank"
        >
          GitHub
        </a>

        <a
          href="https://portfolio-site.vercel.app"
          target="_blank"
        >
          Live Demo
        </a>

      </div>

    </div>

    <div class="card">

      <h3>Smart Baby Bed</h3>

      <p>
        ESP32 monitoring system.
      </p>

      <div class="buttons">

        <a
          href="https://github.com/elisheva-shemesh"
          target="_blank"
        >
          GitHub
        </a>

      </div>

    </div>

    <div class="card">

      <h3>Learning English AI</h3>

      <p>
        Vocabulary improvement platform.
      </p>

      <div class="buttons">

        <a
          href="https://github.com/elisheva-shemesh"
          target="_blank"
        >
          GitHub
        </a>

      </div>

    </div>

  </div>

</section>
<section id="contact" class="contact">

  <h2>Contact</h2>

  <p>
    📞 Phone:
    055-672-1543
  </p>

  <p>
    📧 Email:
    e0556721543&#64;gmail.com
  </p>

  <p>
    💻 GitHub:
    <a
      href="https://github.com/elisheva-shemesh"
      target="_blank"
    >
      github.com/elisheva-shemesh
    </a>
  </p>

  

</section>